@import "tailwindcss";

:root {
  --text: #0c0c0d;
  --background: #f2f4f8;
  --primary: #0d48a0;
  --secondary: #42a5f5;
  --accent: #90caf9;
}

@theme inline {
  --color-text: var(--text);
  --color-background: var(--background);
  --color-primary: var(--primary);
  --color-secondary: var(--secondary);
  --color-accent: var(--accent);
}

body {
  background: var(--background);
}